.marquee-container {
    width: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px 0;
    backdrop-filter: blur(4px);
    white-space: nowrap;
}

.marquee-track-1 {
    display: flex;
    width: max-content;
    animation: marquee 68s linear infinite;
    margin-bottom: 5px;
}

.marquee-track-2 {
    display: flex;
    width: max-content;
    animation: marqueeReverse 70s linear infinite;
}

.marquee-track-3 {
    display: flex;
    width: max-content;
    animation: marquee 80s linear infinite;
    margin-top: 5px;
}

.marquee-track-1:hover {
    animation-play-state: paused;
}

.marquee-track-2:hover {
    animation-play-state: paused;
}

.marquee-track-3:hover {
    animation-play-state: paused;
}

.marquee-content {
    display: flex;
}

.badge {
    display: inline-block;
    margin: 0 16px;
    padding: 8px 20px;
    background-color: rgba(0, 255, 255, 0.1);
    border: 1px solid rgba(0, 255, 255, 0.2);
    border-radius: 20px;
    color: #00ffff;
    font-weight: bold;
    font-family: sans-serif;
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;
}

.badge:hover {
    background-color: rgba(0, 255, 255, 0.4);
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes marqueeReverse {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}