/* Masonry Column */
.masonry {
    column-count: 3;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 15px 15px 0 15px;
    margin: 10px;
}

.masonry-item {
    break-inside: avoid;
    margin-bottom: 1rem;
    /* aspect-ratio: 6/2; hoặc 1/1, 16/9 tùy bạn muốn ảnh hình gì */
}

.product-picture img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    display: block;
    filter: blur(8px);
    transition: filter 0.5s ease;
    background-size: cover;
}

.product-picture:hover img {
    filter: blur(0px);
    background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 992px) {
    .masonry {
        column-count: 2;
    }

    .masonry-item {
        width: fit-content;
    }

    .product-picture img {
        width: 100%;
        object-fit: cover;
    }
}

.product {
    display: flex;
    justify-content: center;
}

.product-banner-design h2 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.product-picture {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    height: fit-content;
    width: 100%;
}

.product-picture:hover {
    scale: 1.5;
    z-index: 999;
}

.product-picture:hover .product-price {
    left: 120%;
    top: 50%;
    transform: translate(-100%, -50%) rotate(90deg);
}

.product-price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    color: white;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 5px 10px;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    transition: all .3s ease;
    /* border-radius: 20px; */
}

.text-effect-1 {
    background: linear-gradient(90deg, #00f, #0ff, #00f) -100%/200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shimmer 2s linear infinite;
    /* place-self: center; */
}

@keyframes shimmer {
    to {
        background-position: 100%;
    }
}

.bio-product {
    padding: 15px 15px 0 15px;
}

.text-box-1 p {
    padding: 0;
    margin: 0;
}