.media-controls {
    /* position: fixed;
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%);
    flex-direction: column;
    align-items: center;
    z-index: 10;
    width: 700px;
    max-width: 90%;
    */
    color: #fff;
    display: flex;
    justify-content: center;
}

.media-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.media-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    /* z-index: 1; */
}

.media-button:hover {
    color: #ffc107;
}

.media-progress {
    width: 100%;
    text-align: center;
    width: 700px;
    max-width: 90%;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    /* background: rgba(0, 0, 0, 0.5); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    scale: .9;
    padding: 7px 30px;
    position: relative;
    overflow: hidden;
}

#bg-video-1 {
    position: absolute;
    top: -10px;
    left: 0;
    min-width: 100%;
    min-height: 110%;
    object-fit: cover;
    z-index: -1;
}

@media screen and (max-width: 992px) {
    #bg-video-1 {
        width: 100%;
        top: 10px;
    }
}

.media-controls-overlay {
    z-index: 1;
}

.view {
    position: absolute;
    float: left;
}

/* CUSTOM Thanh Nhạc */
#progress-bar {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 4px;
    outline: none;
    transition: background 0.3s ease;
}

/* Track background */
#progress-bar::-webkit-slider-runnable-track {
    height: 6px;
    background: linear-gradient(to right, #fdc571 0%, #fdc571 var(--progress), #444 var(--progress), #444 100%);
    border-radius: 4px;
    cursor: pointer;
}

#progress-bar::-moz-range-track {
    height: 6px;
    background: linear-gradient(to right, #fdc571 0%, #fdc571 var(--progress), #444 var(--progress), #444 100%);
    border-radius: 4px;
}

/* NÚT TRÒN */
#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    /* margin-top: -4px; */
    margin-top: -1px;
    transition: background 0.2s;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

#progress-bar::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

/*  */

/* CUSTOM VOLUME */
#volume-bar {
    width: 0;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
    -webkit-appearance: none;
    height: 6px;
    background: #fdc571;
    backdrop-filter: blur(5px);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

/* Track */
#volume-bar::-webkit-slider-runnable-track {
    height: 6px;
    background: linear-gradient(to right, #fdc571 0%, #fdc571 var(--volume), #444 var(--volume), #444 100%);
    border-radius: 4px;
}

#volume-bar::-moz-range-track {
    height: 6px;
    background: linear-gradient(to right, #fdc571 0%, #fdc571 var(--volume), #444 var(--volume), #444 100%);
    border-radius: 4px;
}

#volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    margin-top: -4px;
}

/*  */

.time-info {
    font-size: 13px;
    text-align: end;
}

.media-volume {
    position: fixed;
    top: 0;
    gap: 5px;
    display: flex;
    color: white;
    font-size: 18px;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    width: fit-content;
    padding: 5px;
    margin: 5px;
    opacity: .3;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    transition: opacity 0.3s ease;
}

.media-volume:hover #volume-bar {
    width: 120px;
    opacity: 1;
}

.media-volume:hover {
    opacity: 1;
}

.song-title {
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
}

.song-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    align-self: flex-start;
}

.song-title.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.song-title.marquee::after {
    content: attr(data-text);
    position: absolute;
    animation: scroll 10s linear infinite;
}

.img-song {
    border-radius: 20px;
    object-fit: cover;
    padding: 5px 0;
    transition: all .5s ease;
}

@media screen and (max-width: 765px) {
    .song-title {
        text-align: center;
    }

    #bg-video-1 {
        min-height: 100%;
        object-fit: cover;
    }

    .img-song {
        width: 100%;
        height: 240px;

        &:hover {
            height: fit-content;
        }
    }
}

@keyframes scroll {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}